@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css ya App.css me add karo */
.bg-watermark {
  background-image: url('/logo.png'); /* apna logo path do */
  background-repeat: repeat; /* poore background me repeat hoga */
  background-position: center;
  background-size: 150px; /* size adjust karo */
  
}
.faculty-scroll::-webkit-scrollbar {
  height: 8px;
}

.faculty-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.faculty-scroll::-webkit-scrollbar-thumb {
  background: #f59e0b;
  border-radius: 20px;
}

/* Hide scrollbar but keep scrolling */
.faculty-scroll {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE & Edge */
}

.faculty-scroll::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}


.fill-gradient-half {
  background: linear-gradient(to right, #facc15 50%, #d1d5db 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
